body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E9E9E9;
}

.admin-dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.admin-sidebar {
    position: relative;
    width: 32vh;
    background-image: linear-gradient(#0B7D3F, #062D18);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    overflow: hidden;
}

.admin-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img {
    max-width: 80%;
    height: auto;
    border-radius: 1.3vh; /* ~10px */
}

.admin-nav a {
    display: block;
    padding: 1vh;
    margin: 1vh 0;
    font-size: 2.3vh;
    color: white;
    text-decoration: none;
    border-radius: 0.5vh;
    background-color: transparent;
    transition: background-color 0.3s;
}

.admin-nav a img {
    width: 2.6vh;
    height: 2.6vh;
    margin-right: 1vh;
    vertical-align: middle;
}

.admin-nav a:hover {
    background-color: #188148;
}

.admin-sidebar form {
    margin-top: auto;
    width: 100%;
}

.admin-sidebar form button {
    width: 100%;
    padding: 1.5vh;
    font-size: 2.3vh;
    font-family: Poppins, sans-serif;
    color: white;
    background-color: #0B7D3F;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-sidebar form button:hover {
    background-color: #096833;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.admin-main {
    flex: 1;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 3.8vh;
}

.admin-header {
    display: flex;
    border-radius: 1vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vh;
}

.admin-header h1 {
    font-size: 3.75vh;
    font-weight: 600;
    color: #323232;
}

.search-container {
    position: relative;
    display: flex;
    width: 50%;
    margin-right: 5vh;
    align-items: center;
}

.search-bar {
    padding: 1.5vh; /* extra right padding for icon */
    width: 100%;
    border-radius: 1.3vh;
    background: #F4F4F4;
    font-size: 2vh;
    box-shadow: 0 0.6vh 2vh -1.3vh rgba(0, 0, 0, 0.25);
    border: solid 0.15vh #969696;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 8vh;
    transform: translateY(-50%);
    width: 2.5vh;
    height: 2.5vh;
    opacity: 0.6;
    pointer-events: none; /* icon won't block input focus */
}

.notification-icon {
    width: 3.5vh;
    height: 3.5vh;
    margin-left: 2vh;
    cursor: pointer;
}

.divider {
    height: 0.15vh;
    width: 100%;
    background-color: #ccc;
    margin: 4vh auto;
    border: none;
}

.divider2 {
    height: 0.15vh;
    width: 98%;
    background-color: #ccc;
    border: none;
}
